@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
    margin:0;
    box-sizing: border-box;
}
body { 
    background: url('../images/background/sky.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

/* --- Header --- */
.header{
    background-color: rgba(255, 255, 255, 0.4);
}

/* --- Navbar buttons --- */
.navbar{
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 35px; 
}
#search{
    margin: 15px 0;
    width: 315px;
}
#search-form{
    justify-content: center;
}
.btn {
    margin: 15px;
    width: 255px;
}
.btn-primary{
    background-color: rgba(0, 140, 255, 0.65);
}
#reload{
    padding: 5px 0;
    letter-spacing: 2px;
    font-weight: 700;
}
.form-inline{
    margin: 0;
}

/* --- Country select button ---*/
#selectCountry{
    text-align: right;
    font-size: 19px;
    font-weight: 600;
    background-color: rgba(255, 255, 255);
}

/* --- Heading --- */
#heading{
    background-color: rgba(255, 255, 255, 0.4);
    margin: 250px auto 0;
    text-align: center;
    color: rgb(255, 0, 0, 0.75);
    font-weight: 700;
    font-size: 4.5em;
    padding: 20px 0 0;
    
}
/* --- Not a real city --- */
.notReal{
    margin: 150px 10%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 50px 0;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.8)
}
#cityName{
    font-size: 55px;
    color: rgb(255, 69, 0, 0.85);
    letter-spacing: 2px;
}

/* --- City statistics - current --- */
.current{
    background-color: rgba(255, 255, 255, 0.4);
}
.city-name > h2{
    margin: 20px auto;
    text-align: center;
    font-size:4em;
    font-weight: 700;
    letter-spacing: 2px
}
.city-temp > p{
    margin:0 auto;
    text-align: center;
    font-size: 6em;
    color: rgb(255, 0, 0, 0.7);
    font-weight: 600;
}
.city-main > p{
    margin:0 auto;
    text-align: center;
    font-size: 2.5em;
    color:rgb(0, 140, 255, 0.7);
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.city-date > p{
    font-size: 2em;
    margin: 10px auto 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;    
}

/* --- City statistics - extra data --- */
#current-div{
    padding: 0 15px 0 0;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    height: 480px;
}
#extra-btn{
    margin: 50px 0 35px;
}
#current-extra > p {
    margin: 0;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.5);
}

/* --- Map --- */
#map{
    margin: 0 auto 0;
    height: 70%;
}

/* --- Next day statistics --- */
.next-day {
    border-radius: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
}
.next-temp{
    color: rgb(255, 0, 0, 0.7);
    font-weight: 600;
    font-size: 20px;
}
.next-precip{
    font-weight: 600;
    font-size: 20px;
}
.next-day > h5 {
    color:rgb(0, 140, 255);
    font-size: 30px;
    font-weight: 500;
    margin: 15px 0;
}
.next-day > h6 {
    font-weight: 700;
    font-size: 27px;
    margin: 10px 0;
}

/* --- Carousel --- */
#carouselExampleIndicators{
    margin: 20px auto;
}
.first-slide > p {
    padding: 55px;
    font-size: 45px;
    font-weight: 600;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 20px;
    width: 60px;
    height: 70px;
    background-color: rgb(0, 140, 255, 0.7);
}

/* --- Loader --- */
 #loader-carousel {
    border: 25px solid rgb(255, 255, 255); 
    border-top: 25px solid rgb(0, 140, 255, 0.6); 
    border-bottom: 25px solid rgb(0, 140, 255, 0.6);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 0.75s linear infinite;
    margin: 80px auto;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
display:none;
}

/* --- Footer --- */
footer {
    margin: 20px 0;
    text-align: center;
}
i {
    width: 45px;
    height: 45px;
    margin: 15px 5px 0;
    padding:12.5px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: rgb(0, 140, 255, 0.7);
    transition: all 0.35s ease-in-out;
}
i:hover{
    background: #dc3545;
}
.form-control{
    margin: 10px 0;
}

/* --- Modals --- */
.modal-body {
    text-align: center;
}
.modal-body > p {
    margin-bottom:  15px;
    font-size: 20px;
}
.modal-body > h2 {
    font-size: 50px;
    margin-top: 30px;
}
.modal-body > h4 {
    font-weight: 500;
}

/* --- Media queries --- */
@media only screen and (max-width: 768px) {
    #heading {
        margin-top: 32%;
    }
    #current-div{
        padding: 0 5%;
    }
    .carousel-item > div > h1 {
        padding: 70px 0;
        font-size: 35px;
    }
    .next-day > h5 {
        padding: 5px;
        font-size: 22px;
    }
    .next-day > h6 {
        font-size: 23px;
    }
    .notReal{
        margin: 10% 0 15%;
        font-size: 30px; 
        font-weight: 600;
        padding: 20px 0;
    }
}